In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
PATH = 'gdrive/MyDrive/proyekBangkit/finalv2.csv'
df = pd.read_csv(PATH)

In [ ]:
df.head()

   Unnamed: 0  kode_rs  ... rating_average rating_count
0           0  3171795  ...            4.0          483
1           1  3172755  ...            4.6          245
2           2  3171045  ...            4.1           60
3           3  3101002  ...            4.8          422
4           4  3171784  ...            4.0           75

[5 rows x 15 columns]

In [ ]:
df.drop(['Unnamed: 0', 'provinsi'], axis=1, inplace=True)

In [ ]:
df.head()

   kode_rs         akreditasi  ... rating_average rating_count
0  3171795      Tingkat Utama  ...            4.0          483
1  3172755  Tingkat Paripurna  ...            4.6          245
2  3171045  Tingkat Paripurna  ...            4.1           60
3  3101002      Lulus Perdana  ...            4.8          422
4  3171784      Tingkat Madya  ...            4.0           75

[5 rows x 13 columns]

In [ ]:
rating_mean = df['rating_average'].mean()
rating_90th = df['rating_count'].quantile(0.90)
# rating_90th = df['rating_count']
print(rating_90th)

446.90000000000003

In [ ]:
# new_df = df.copy().loc[df['rating_count'] >= rating_90th]

In [ ]:
def weighted_rating(df, quantil=rating_90th, mean=rating_mean):
    rating_count_series = df['rating_count']
    rating_average_series = df['rating_average']

    return (rating_count_series / (rating_count_series + quantil) * rating_average_series) + (quantil / (quantil + rating_count_series) * mean)

In [ ]:
df['score'] = df.apply(weighted_rating, axis=1)

In [ ]:
df = df.sort_values('score', ascending=False)

In [ ]:
df.head(20)

     kode_rs         akreditasi  ... rating_count     score
10   3174074  Tingkat Paripurna  ...          369  4.493574
36   3174041  Tingkat Paripurna  ...          392  4.460731
8    3171072  Tingkat Paripurna  ...          463  4.444122
3    3101002      Lulus Perdana  ...          422  4.427330
101  3171023  Tingkat Paripurna  ...          274  4.426837
106  3175315   Belum Ditentukan  ...          392  4.414003
96   3171450  Tingkat Paripurna  ...          292  4.401281
52   3173084  Tingkat Paripurna  ...          241  4.399341
5    3172590      Tingkat Madya  ...          287  4.397884
24   3175042  Tingkat Paripurna  ...          333  4.384802
46   3173521  Tingkat Paripurna  ...          305  4.369340
56   3173040  Tingkat Paripurna  ...          301  4.367037
107  3173695   Belum Ditentukan  ...          283  4.356360
102  3171805   Belum Ditentukan  ...          218  4.345777
78   3172024  Tingkat Paripurna  ...          195  4.325918
21   3175304      Tingkat Madya  ...          272  4.311736
67   3172505  Tingkat Paripurna  ...          240  4.293648
69   3172301      Tingkat Madya  ...          156  4.288782
117  3171012   Belum Ditentukan  ...          173  4.277636
49   3173120  Tingkat Paripurna  ...          199  4.267854

[20 rows x 14 columns]

In [ ]:
df.to_json('jadi.json', orient='index')